* {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(135deg, #000428, #004e92);
    display: flex;
    justify-content: center;
    height: 100vh;
}

.head {
    margin-top: 120px;
    font-weight: bolder;
    color: white;
    font-size: 20px;
}

.form {
    background-color: #004e92;
    position: absolute;
    top: 30%;
    width: 400px;
    border-radius: 12px;
    box-shadow: 5px 5px 10px 5px black, -5px -5px 10px 5px black;
}

.input {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    font-family: cursive;
    border: none;
    border-radius: 10px 0 0 0;
    outline: none;
}

.list li {
    list-style-type: none;
    padding: 15px 20px;
    font-family: cursive;
    border-top: solid black;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-weight: bolder;
    position: relative;
}

.list li:hover {
    background-color: #000428;
    opacity: 0.5;
}

.list .fa-trash {
    position: absolute;
    right: 20px;
    color: rgb(255, 0, 0);
    cursor: pointer;
    font-size: 17px;
}

.list .fa-circle-check {
    position: absolute;
    right: 45px;
    color: white;
    cursor: pointer;
    font-size: 17px;
}

.list li.checked {
    text-decoration: line-through;
    color: darkgray;
}

.list li.checked .fa-circle-check {
    color: rgb(122, 122, 122);
}

.in {
    display: flex;
}

.in button {
    width: 15%;
    border-radius: 0 10px 0 0;
    border: none;
    font-size: 14px;
    font-family: cursive;
    font-weight: bolder;
    background-color: #28a745;
    color: white;
}

button:hover {
    background-color: #000000;
    opacity: 0.8;
    cursor: pointer;
}

.edit-input {
    font-family: cursive;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 70%;
}

@media (max-width: 600px) {
    .head {
        margin-top: 100px;
        font-size: 22px;
    }

    .form {
        width: 270px;
    }

    .in button {
        width: 20%;
        font-size: 14px;
        padding: 12px;
    }
}

@media (min-width: 600px) and (max-width: 1030px) {
    .head {
        margin-top: 100px;
        font-size: 30px;
    }

    .form {
        width: 500px;
    }
}
